@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #4D455D;
    --secondary: #E96479;
    --text: #F5E9CF;
    --shadow: rgba(201, 206, 172, 0.5);
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--primary);
}

.wrapper {
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.container {
    width: 100%;
    background: var(--primary);
    padding: 50px 40px;
    box-shadow: 0 20px 65px var(--shadow);
    position: relative;
    border-radius: 8px;
    text-align: center;
}

.container:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 120%;
    background-color: #fff;
    z-index: -1;
    top: -10%;
    left: 10%;
}

.container p {
    color: var(--text);
    line-height: 2;
    font-size: 1.5em;
}

.container h3 {
    color: var(--text);
    margin: 20px 0 60px 0;
    font-weight: 700;
    text-transform: capitalize;
}

.container h3::before {
    content: "\2014 ";
    margin-right: .2em;
}

.container button {
    background-color: var(--text);
    border: none;
    padding: 15px 45px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    color: var(--primary);
    cursor: pointer;
}

.container button:hover {
    background-color: var(--secondary);
    color: var(--text);
}